<style type="text/css">
</style>

<div id="push_down" style="padding-top:100px">
  <!-- this is ghetto -->
</div>

<div class="container">
  
  <h2>Sign in</h2>
  <hr />

<%= form_tag  sessions_path do |f| %>
    <div class="field">
      <%= text_field_tag :username, params[:username], {:placeholder => 'E-Mail Address'} %>
    </div>
    <div class="field">
      <%= password_field_tag :password, params[:password], {:placeholder => 'Password'} %>
    </div>
    <div class="actions">
      <%= submit_tag "Sign in", {:class => 'btn btn-success'} %>
    </div>
<% end %>
<p>New user? <%= link_to "Sign up now!", '/users/new' %></p>
</div>
