<%= form_for(@study_group) do |f| %>
  <% if @study_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@study_group.errors.count, "error") %> prohibited this study_group from being saved:</h2>

      <ul>
      <% @study_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<table>
    <tr>
        <td>Name</td><td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td>Logo</td><td><%= f.text_field :logo_path %></td>
      </tr>
    <tr>
        <td>Description</td><td><%= f.text_area :description, {:cols => '60', :rows => '10'} %></td>
    </tr>
</table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
