<div id="push_down" style="padding-top:100px;">
</div>

<script type="text/javascript">

function slideOver(event) { 
  $('#hide-me').fadeOut(500, function() {
      $('#show-me').fadeIn();
      })


}
</script>

<div class="container">

  <div class="container-fluid">
    <h1><%= @study_group.name %></h1>
    <div class="row-fluid">
      <div class="span5">
        <%= image_tag 'advanced_django.png' %>
      </div> <!-- .span5 -->
      <div class="span5">
        <%= @study_group.description %>
      </div> <!-- .span5 -->
    </div> <!-- fluid-row -->
    <div class="row-fluid">
      <div class="span5" style="padding-top: 20px">
        <div id="hide-me">
          <a class="btn btn-success" onclick="slideOver()">Reserve my spot</a>
        </div>
        <div id="show-me" style="display: none">
          Ready to go? Give us some money so Austin can buy his yacht.<br /><br />

          <input type="text" name="name" placeholder="Name on the card" /><br />
          <input type="text" name="billing-address" placeholder="Billing Street Address" /><br />
          <input type="text" name="billing-city" placeholder="City"> <input type="text" style="width: 60px" name="billing-state" placeholder="State" /> <input type="text" name="billing-zip" placeholder="Zipcode" style="width: 80px"><br />
          <!--<input type="text" name="credit-card-number" placeholder="Credit Card Number"> </input>
          <input type="text" name="cvv-number" placeholder="CVV Number" style="width: 90px" /><br />-->

          <%= form_for(:reservation, {:url => '/reservations' }) do |f| %>
            <%= f.hidden_field 'study_group_id', {:value => '1'} %>
            <%# f.submit 'Sign up!', {:class => 'btn btn-success'} %>
            <script
               src="https://checkout.stripe.com/checkout.js" class="stripe-button"
               data-key="pk_test_TXV4tbffrw66M7DyZuJJUKPD"
               data-amount="1000"
               data-name="Collect<div>"
               data-description="<%= @study_group.name %> ($10.00)"
               data-image="/128x128.png">
            </script>
          <% end %>
        </div>
      

      </div>
    </div>



  </div> <!-- fluid-row -->
</div> <!-- .container-fluid -->

</div> <!-- .container -->
