<div id="push_down" style="padding-top:100px">
</div>

<div class="container">
  <%= form_for(@user, :html => {:class => 'form-horizontal' }) do |f| %>
<fieldset>

<!-- Form Name -->
<h2>Sign up!</h2>
<hr />

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="email_address">E-mail address</label>
  <div class="controls">
    <%= f.text_field :email,  { :placeholder => "Who are you?", :class => "input-xlarge", :required => '' } %>
    
  </div>
</div>
<br>
<!-- Password input-->
<div class="control-group">
  <label class="control-label" for="password">Password</label>
  <div class="controls">
    <%= f.password_field :password, { :placeholder => "Password",  :class => "input-xlarge", :required => "" } %>
    
  </div>
</div>
<br>
<!-- Password input-->
<div class="control-group">
  <label class="control-label" for="password_confirmation">Password (again)</label>
  <div class="controls">
    <%= f.password_field :password_confirmation, { :placeholder => "Password",  :class => "input-xlarge", :required => "" } %>

  </div>
</div>

<!-- Button -->
<div class="control-group">
  <label class="control-label" for="submit"></label>
  <div class="controls">
    <%= f.submit "Join", :class => 'btn btn-warning btn-lg' %>
  </div>
</div>

</fieldset>
<% end %>

</div>

